{% extends "portfolio/base.html" %}

{% load static %}

{% block content %}
<br><br>
<h1 id="abouttitle" class="font-weight-bold text-center">About Me!</h1>

<div class="row justify-content-center my-3">
  <div class="col-md-10">
      <font size="+1">
          <p2>
              <br>
              Greetings!
              <br><br>
              I'm Md. Mushfiqur Rahman, professionally a Software Engineer! I have worked as Senior Software Engineer at Samsung for 3 years here in Bangladesh R&D center. I worked with C#, UWP framework over the years here. We have successfully deployed our flagship project <a href="https://www.microsoft.com/en-us/p/samsung-notes/9nblggh43vhv" target="_blank">Samsung Notes</a>
              version 3 and version 4.
              <br><br>
              Other than C#, UWP I have also knowledge of Python, Django, C/C++, Java and <a href="{% static "portfolio/latestresume.pdf" %}" target="_blank">others.</a><br>
              I have been working with Django these days. This site is made with Django!
              <br><br>
              I have done Bachelor of Science in Computer Science & Engineering from United International University. I have good knowledge of algorithms and data structures. I have participated in many programming contests during my university days and got some decent result.
              <br><br>
              I like to read books! I have a huge collection of bengali thriller and science fiction books! I like music, I even play guitar. In my free time I watch japanese anime! I love them!
          </p2>
      </font>
  </div>
</div>

{% endblock %}